@import 'config';
@import 'utils';

@mixin item {
	width: 6.25rem;
	border: 15px solid $terciary-color;
	background-color: $terciary-color;
	@include b-rounded();
	opacity: 1;
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;

	  &:hover {
        opacity: .5;
      }
}