* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgb(245, 220, 255) 0%, rgb(201, 244, 255) 51%, rgb(253, 255, 237) 100%);
  font-family: "Comfortaa", cursive;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #2f2f2f;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.2rem;
}

p {
  color: #2f2f2f;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}
a:hover {
  color: #6431b0;
}

section {
  margin: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(68, 51, 8, 0.136);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.429);
  width: 70%;
  height: 100%;
}
section article {
  text-align: center;
}

article {
  margin: 2.3rem;
}
article h1, article h2 {
  margin: 2.5rem 0;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0.5rem auto;
}

.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-container {
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: justify;
}

.about-me {
  border-bottom: 2px solid rgba(0, 0, 0, 0.271);
  max-width: 33rem;
  margin: 2rem auto;
  padding: 1rem;
}

.flex-container-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-container-tech {
  max-width: 31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.95rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item {
  width: 6.25rem;
  border: 15px solid #fff;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 2px 2px 5px -1px rgba(68, 51, 8, 0.355), 2px 2px 6px -2px rgba(68, 51, 8, 0.355);
  transition: box-shadow 0.2s;
  transition-delay: 0.1s;
}
.item:hover {
  box-shadow: 8px 8px 10px -1px rgba(68, 51, 8, 0.308), 1px 8px 10px -2px rgba(68, 51, 8, 0.308);
  transition: box-shadow 0.5s;
}

.profile {
  width: 13rem;
  border-radius: 100%;
}

.linkedin {
  border: none;
}

.js {
  border: 2.4px solid #fff;
}

.react {
  border: 1.5px solid #fff;
}

.circle {
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tailwind {
  width: 4.375rem;
  height: 3.125rem;
}

.bootstrap {
  width: 5rem;
  height: 4.375rem;
}

.proyect-card {
  border-radius: 10px;
  max-width: 30rem;
}

.proyect-title-container {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.b-8 {
  border: 8px solid #fff;
}

.b-12 {
  border: 12px solid #fff;
}

@media only screen and (max-width: 768px) {
  .text-container {
    text-align: left;
  }
  p {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  section {
    width: 90%;
  }
  article h1, h2 {
    margin: 1rem 0;
  }
  .about-me {
    padding: 0 0 1rem 0;
  }
  .proyect-card {
    max-width: 100%;
  }
}